
*.db-journal
*.sqlite

*.user
*.userosscache
*.suo
*.userprefs

[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
*.exe
*.dll
*.pdb
*.cache
*.ilk
*.exp
*.lib
*.log

**/wwwroot/lib/
**/wwwroot/lib/**/*

.vs/
*.csproj.user
*.vcxproj.user
*.vbproj.user
*.fsproj.user


*.tmp
*.temp
*.swp
*.swo
*~

*.log
logs/

TestResults/
*.trx

packages/
*.nupkg

.idea/
*.sln.iml

.vscode/
*.code-workspace

Thumbs.db
.DS_Store
Desktop.ini

*.pidb
*.svclog
*.scc

*.zip
*.7z
*.rar
*.tar
*.gz

*.pfx
*.p12
*.key
*.crt